.table-container {
  margin: auto;
  /* margin-top: 30px;
  width: 90%; */
  overflow: auto;
  max-height: 500px;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.fixed-columns {
  position: sticky;
  left: 0;
  z-index: 999;
  background-color: white;
}
